<a href="https://colab.research.google.com/github/ayeshafirdose31/356_days_python_coding_challege/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Highest Score

1) A List of scores of students are given, implement a program that calculates the highest score from the given list.

Example

student_scores = [80, 60, 50, 65, 75, 55]

# The highest score in the class is: 80


Hint : DO NOT use any built in function such as max() and sum() !

In [4]:
student_scores=[80,60,50,65,75,55]
highest_score=0
for i in student_scores:
  if i>highest_score:
    highest_score=i
    print("the highest score is",highest_score)

the highest score is 80

#Find Integer Numbers

2) Implement a program which finds integer numbers from given List.

Input

custom_list = [11, 30.1, 90.2, 30, 45.1, 54, '54']

Output

11
30
54

In [14]:
custom_list=[11, 30.1, 90.2, 30, 45.1, 54, '54']
int_num=[]
for i in custom_list:
  if type(i)==int:
    int_num.append(i)
print(int_num)

[11, 30, 54]

#`ANOTHER METHOD USING ISINSTANCE`

In [15]:
custom_list=[11, 30.1, 90.2, 30, 45.1, 54, '54']
for i in custom_list:
  if isinstance(i,int):
    print(i)

11
30
54

#Sum of Above Average Scores

3) Implement a function which takes a List as a parameter and returns the sum of the scores which are above average.

Example

student_scores = [80, 60, 50, 65, 75, 55]
sum_score_above_average(student_scores) # 220


Hint : DO NOT use any built in function such as sum() and len() !

In [21]:
student_scores = [80, 60, 50, 65, 75, 55]

def sum_score_above_average(p_student_scores):
    sum_score = 0
    number_of_students = 0
    for score in p_student_scores:
        sum_score += score
        number_of_students += 1
    average_score = sum_score / number_of_students
    sum_above_average = 0
    for score in p_student_scores:
        if score > average_score:
            sum_above_average += score
            print(average_score, score)
    return sum_above_average

print(sum_score_above_average(student_scores))

64.16666666666667 80
64.16666666666667 65
64.16666666666667 75
220